body {
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.start-button {
  position: relative;
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  color: #000;
}
.start-button:hover {
  text-decoration: none;
}
.answer:hover {
  background: #999;
  color: #000;
}
.container {
  position: relative;
  top: 100px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  font-size: 20px;
}
h1 {
  margin-bottom: 40px;
  font-style: italic;
}
